body h1, h2, h3, h4, h5, h6{
    font-family: 'Bebas Neue', cursive;
}
body p{
    font-family: 'Roboto', sans-serif;
}
.header-bg{
    background-color: #FFFBF0;
}
.navbar-brand img{
    width: 300px;
}
.under-header h1{
    color: #FABE4C;
    font-size: 73px;
}
.under-header span{
    color: #363958;
    font-size: 73px;
}
.under-header img{
    width: 90%;
}
.button{
    background-color: #9DB63C;
    border: 0px;
    border-radius: 10px;
    padding: 0px 25px;
    color: #ffffff;
}
.button:hover{
    color: #ffffff;
}
.button img{
    width: 25px;
}
.jacket-mp{
    margin-right: 30px;
}
.jacket-img{
    width: 100%;
    background-color: #F0F0F0;
    padding: 30px;
    border-radius: 25px;
}
.jacket-wrap h1, h4{
    color: #363958;
}
.woman-jacket h1{
    color: #FABE4C;
}
.unknown-section{
    position: relative;
}
.unknown-section img{
    width: 75px;
}
.unknown-section-right img{
    width: 100%;
}
.t-shirt-card{
    border: 0px;
}
.tshirt-footer-card{
    border: 0px;
    background-color: #ffffff;
}
@media (min-width: 576px) {
    #contactus{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

